@import "assets/css/variables";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "assets/css/custom-popover-content";

body {
  font-family: 'Roboto';
  color: $default;
}

h1, h2, h3, h4 {
  color: $primary;
}

a {
  font-weight: bold;
  color: $secondary;
}
